<div class="cart">
    {% if cart.items.count %}
    <table id="cartItems">
        <thead>
        <tr>
            <th colspan="2">Наименование</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Сумма</th>
            <th><a title="Очистить корзину"></a></th>
        </tr>
        </thead>

        <tbody>
        {% for item in cart.items %}
            {% include "cart/item.html.twig" with {"product": item} %}
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <td colspan="4">Итого:</td>
            <td id="cartSum" class="rub" data-val="{{ cart.sum }}">{{ cart.sum|price }}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td><a href="#" id="createOrder">Оформить</a></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
    {% else %}
        <p>Корзина товаров пуста</p>
    {% endif %}
</div>