<tr class="{% if product.available %}item{% endif %}">
    <td>
        {% if product.image %}<a class="img"><img src="{{ product.image }}" alt=""></a>{% endif %}
    </td>
    <td >
        <i class="id">{{ product.id }}</i>
        <a class="name">{{ product.name }}</a>
    </td>
    {% if product.available %}
        <td class="price rub">{{ product.price|price}}</td>
        <td class="cnt">
            <i class="decrease"></i>
            <input size="2" maxlength="3" value="1" name="items[{{ product.id }}]" type="text" data-id="{{ product.id }}" data-price="{{ product.price }}" class="cartCnt numeric">
            <i class="increase"></i>
        </td>
        <td class="sum rub">{{ product.price|price }}</td>
    {% else %}
        <td colspan="3" class="sum">Товар недоступен</td>
    {% endif %}
    <td><a href="#" class="del" data-id="{{ product.id }}" title="Удалить товар из корзины"></a></td>
</tr>