* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: $font;
  margin: 0 auto;
  height: 100%;
}
#wrapper{
  max-width: 1280px;
  margin: auto;
  min-height: 100%;
  height: auto;
  display: grid;
  grid-template-columns: $width-aside auto;
  grid-template-rows: $height-header auto $height-footer;
  grid-gap: 0;
  background: $color-white;
  box-shadow: 1px 0 2px 1px $color-shadow, -1px 0px 2px 1px $color-shadow;
  color: $color-text;
  overflow: hidden;
}

h1{
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 15px;
}

.rub {
  @include rub;
}