{% extends "layout.html.twig" %}

{% block content %}
    <article id="pageHome">

        <section class="homeText">
            <h1>Shoppong cart</h1>
            {% include "cart/items.html.twig" %}
        </section>
    </article>
{% endblock %}
