{% extends "layout.html.twig" %}

{% block content %}
    <article id="pageHome">

        <section class="homeText">
            <h1>Small e-shop</h1>
            {% include "catalog/category/items.html.twig" %}
        </section>
    </article>
{% endblock %}

