{% extends "layout.html.twig" %}

{% block content %}
    <article id="pageOrder">

        <section>
            <h1>Order {{ order.id }} [{{ order.statusTitle }}] [{{ order.createdAt|date }}]</h1>
            <section>
                <table id="orderItems">
                    <thead>
                    <tr>
                        <th colspan="2">Состав заказа</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in order.items %}
                        {% set product = item.product %}
                        <tr class="item">
                            <td>
                                {% if product.image %}<a href="#" class="img"><img src="{{ product.image }}" alt="{{ product.name }}"></a>{% endif %}
                            </td>
                            <td >
                                <i class="id">{{ product.id }}</i>
                                <a href="#" class="name">{{ product.name }}</a>
                            </td>
                            <td class="price rub">{{ item.price|price}}</td>
                            <td class="cnt">{{ item.count }} шт.</td>
                            <td class="sum rub">{{ item.sum|price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="4">Итого:</td>
                        <td id="orderSum" class="rub">{{ order.sum|price }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3" id="result"></td>
                        <td colspan="2">{% if order.status is same as('new') %}<a href="#" id="payOrder" data-id="{{ order.id }}">Оплатить</a>{% endif %}</td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </section>
        </section>
    </article>
{% endblock %}