%transition{
  transition: all linear 0.2s;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin grid-card-width($n, $margin-left: 15px){
  width: calc(100% / #{$n} - (#{strip-unit($margin-left) + 'px'} * #{$n - 1}) / #{$n});
  margin-left: #{strip-unit($margin-left) + 'px'};
  &:nth-child(#{$n}n-#{$n - 1}){
    margin-left: 0;
  }
}

@mixin screen($min, $max: 4000) {
  @media (min-width: $min+'px') and (max-width: ($max - 1)+'px'){
    @content;
  }
}

@mixin rub{
  white-space: nowrap;
  &:after {
    content: ' руб';
    font-family: RubPTSans, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  &:empty {
    &:after {
      display: none;
    }
  }
}
@mixin img{
  position: relative;

  img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;

  }
  @content;
}

%img{
  @include img;
}