$font-family: "Helvetica Neue", "Lucida Grande", "Arial";
$font-size: 13px;
$font: normal normal $font-size $font-family;

$width-aside: 200px;

$height-header: 85px;
$height-footer: 50px;

$color-text: #333;
$color-white: #fff;
$color-gray: #f9f9fa;
$color-blue: #2e60e4;
$color-dark: #333;
$color-red: #e62fa9;
$color-green: #00c425;
$color-border: #e0e0e2;
$color-shadow: RGBA(0,0,0,0.15);