<div class="item" id="item{{ item.id }}">
    <a href="#" class="img"><img src="{{ item.image }}" alt="{{ item.name }}" /></a>
    <a href="#" class="name">{{ item.name }}</a>
    <span class="code" title="Код товара:">{{ item.id|number_format(0, '.', ' ')}}</span>
    <span class="price rub">{{ item.price|number_format(0, '.', ' ') }}</span>
    <a href="/cart/" class="add2cart" data-id="{{ item.id }}"></a>
</div>