#wrapper > aside{
  background-color: $color-gray;
  border-right: 1px solid $color-border;

  nav{
    a{
      @extend %transition;

      display: block;
      line-height: 28px;
      border-bottom:1px solid $color-border;
      text-decoration: none;
      color: $color-dark;
      padding: 0 5px 0 10px;

      &:hover,&.active{
        background: $color-white;
        color: $color-blue;
      }
    }
  }
}