header {
  position: relative;
  grid-column: 1 / span 2;
  border-bottom: 1px solid $color-border;

  #logo{
    display: block;
    width: 200px;
    height: 50px;
    line-height: 48px;
    border: 1px solid $color-border;
    position: absolute;
    top:0;
    bottom:0;
    left: 50px;
    margin:auto;
    text-align: center;
    text-decoration: none;
    background-color: $color-gray;

    &:before{
      content: 'logo';
      text-transform: uppercase;
    }
  }
}