<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <title>Title</title>
    <meta name="description" content="description" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
</head>
<body>
    <div id="wrapper">
        {% include "layout/header.html.twig" %}
        {% include "layout/aside.html.twig" %}
        {% include "layout/main.html.twig" with {content: block('content')} %}
        {% include "layout/footer.html.twig" %}
    </div>
<script src="/assets/js/script.min.js"></script>
</body>