.products {
  font-size: 0;

  > .item {
    @extend %transition;

    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: $font-size;
    padding: 10px 10px 33px;
    border: 1px solid $color-border;
    margin-bottom: 20px;
    height: 260px;

    @include grid-card-width(5, 20);

    &:hover {
      box-shadow: 0 0 2px 0 $color-shadow;
    }

    .code {
      display: none;
      position: absolute;
      top: 10px;
      left: 10px;
      text-decoration: none;
      font-size: $font-size - 2;
      color: $color-text;
    }

    .name {
      @extend %transition;
      display: block;
      text-decoration: none;
      color: $color-dark;
      text-align: center;
      margin-top: 10px;

      &:hover {
        color: $color-blue;
      }
    }

    .img {
      display: block;
      position: relative;
      padding-top: 100%;

      img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 90%;
        max-height: 90%;
      }
    }

    .price, .add2cart {
      height: 29px;
      line-height: 28px;
      display: block;
      position: absolute;
      bottom: 0;
      width: 50%;
      text-align: center;
      text-decoration: none;
    }

    .price {
      left: 0;
      background: $color-gray;
      border-top: 1px solid $color-border;
    }

    .add2cart {
      @extend %transition;
      background: $color-red;
      right: 0;

      &:before {
        content: "Купить";
        color: #fff;
      }

      &:hover {
        opacity: 0.6;
      }

      &.inCart {
        background: $color-green;

        &:before {
          content: "В корзине";
        }
      }
    }
  }
}