#cartItems, #orderItems {
  width: 100%;
  border-collapse: collapse;
  font-size: $font-size;

  th {
    padding: 8px 12px;
    font-size: $font-size + 2;
    color: $color-red;
    font-weight: normal;
    text-align: left;
  }

  td {
    border: 1px solid $color-border;
    padding: 3px 10px;
    vertical-align: middle;

    &[colspan] {
      text-align: center;
    }
  }

  tbody tr:nth-child(2n) {
    background: $color-gray;
  }


  thead {

    tr th:first-child {
      padding-left: 0;
    }

    th:nth-last-child(1) {
      width: 0;
    }

    th:nth-last-child(2) {
      width: 100px;
    }

    th:nth-last-child(3) {
      width: 150px;
    }
  }

  td, th {
    text-align: center
  }

  th:nth-child(1) {
    text-align: left;
  }

  td:nth-child(2) {
    text-align: left;
  }


  tbody {
    tr {
      &._removing{
        @extend %transition;

        opacity: 0.5;
      }
      td {
        &:first-child {
          width: 80px;
          height: 80px;
          padding: 0;
        }

        &:last-child {
          position: relative;
        }
      }

      &.sum {
        border-right: none;
      }
    }
  }


  tfoot {
    tr {
      td {
        border: none;

        &:last-child {
          padding: 0 5px 0 0;
          width: 20px;
          border-left: none;
        }

        &:nth-last-child(2) {
          border-right: none;
          text-align: center
        }

        &[colspan] {
          text-align: right;
        }

        &.rub {
          line-height: 24px;

          &:empty {
            &:before {
              content: 'Бесплатно';
            }
          }
        }
      }

      #result.success{
        color: $color-green;
      }
      #result.error{
        color: $color-red;
      }
    }
  }

  a.img {
    @extend %img;
    display: inline-block;
    width: 60px;
    height: 60px;
  }

  a.name {
    display: block;
    font-weight: bold;
  }

  a.del {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: transparent url("../svg/x.svg") 50% no-repeat;
    background-size: 10px;
  }

  i.id {
    font-size: $font-size - 1;
    display: block;
    color: $color-dark;
    font-style: normal;

    &:before {
      content: 'код товара: ';
    }
  }

  .announce {
    font-size: $font-size - 1;
    display: block;
    color: $color-gray;

    &:empty {
      display: none;
    }
  }

  input {
    text-align: center;
    border: 1px solid $color-border;
    background: $color-white;
    display: inline-block;
    vertical-align: middle;
  }
}


#cartItems {
  table {
    tbody {
      tr {
        td {
          &:last-child {
            padding: 0;
            width: 30px;
            border-left: none;
          }

          &:nth-last-child(2) {
            border-right: none;
          }
        }
      }
    }
  }
}

i {

  &.decrease, &.increase {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-size: $font-size + 1;
    cursor: pointer;
  }

  &.decrease {
    &:before {
      content: "-";
    }
  }

  &.increase {
    &:before {
      content: "+";
    }
  }

}
#createOrder,#payOrder{
  @extend %transition;

  display: block;
  text-decoration: none;
  background: $color-red;
  color: $color-white;
  line-height: 28px;
  text-align: center;

  &:hover{
    opacity: 0.8;
  }
}